nav {
  margin-bottom: 94px;
}

.container {
  padding: 0px 212px;
}

.card{
  display: flex;
  flex-direction: row;
}

.card img{ 
  height: 500px;
  width: 540px;
}

.card-text-container{
  max-height: 500px;
  border-top: 1px solid #DCDCDE;
  border-bottom: 1px solid #DCDCDE;
  padding: 100px 0px 100px;
}

.card-text h1{
  font-family: 'Ibarra Real Nova', serif;
  font-weight: bold;
  font-size: 50px;
  line-height: 42px;
  letter-spacing: -0.357143px;
  color: #33323D;

  margin-bottom: 28px;
}

.card-text p{
  font-family: 'Public Sans', sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #33323D;
  margin-bottom: 24px;
}

.btn-portfolio{
  width: 175px;
  height: 48px;
}

.img-left img{
  margin: 0px 125px 80px 0px;
}

.img-right img{
  margin: 0px 0px 80px 125px;
}

.contact-me{
  margin-top: 70px;
}